* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

@media only screen and (min-width: 576px) {
    .container-fluid {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .container-fluid {
        margin: 0;
    }
}

@media only screen and (min-width: 992px) {
    .container-fluid {
        margin-right: 87px;
        margin-left: 80px;
    }
}

.header {
    width: 100%;
    height: 72px;
    margin-bottom: 72px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);

    position: fixed;
    top: 0;
    z-index: 1000;
}

.header > .container-fluid {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 30px 0;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.btn__sing-in {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
    padding: 14px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.btn__basket {
    padding: 24px 11px;
    height: 22px;
    border: none;
    background-color: #FFFFFF;
    background-image: url("../images/basket.png");
    background-size: cover;
}

h2 {
    margin-top: 56px;
}

.input__search {
    margin-top: 128px;
    border: none;
    border-bottom: 0.3px solid #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}

.card {
    padding: 16px 16px 16px 0;
    position: relative;
    z-index: 0;
}

.card__img {
    max-width: 100%;
    max-height: 100%;
}

.card__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 4px;
}

.card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #626262;
}

.delivery__time {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
}

/*переход на страницу ресторана при нажатии на блок*/
.link__card {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.footer {
    background: #262626;
    padding-top: 56px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.footer__logo {
    margin-bottom: 40px;
    background: url("../images/white-logo.png");
    width: 192px;
    height: 20px;
    background-size: cover;
}

.reference__store {
    margin: 40px 0;
}

.reference__store__right {
    text-align: right;
}

.reference__store__left {
    text-align: left;
}

hr {
    color: #979797;
    background-color: #979797;
    size: 3px;
}

.footer__second__floor {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.footer__second__floor p {
    margin-bottom: 23px;
}

.language {
    background: #3B3B3B;
    border: none;
    color: #FFFFFF;
    height: 40px;
    margin-bottom: 33px;
}

.icon__world {
    background: url("../images/world.png");
    background-size: 16px;
    margin: 16px 20px;
    background-position: 0 1px;
}

.social-networks {
    margin-bottom: 39px;
}

.reference__social-networks {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.reference__social-networks span {
    color: #49A144;
}

.img__social-networks {
    height: 24px;
}

.footer__footer {
    margin-top: 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.footer__footer p {
    margin-top: 24px;
}

.gototop {
    background: #59BD5A;
    border-radius: 2px;
    position: fixed; /*фиксир. позиц*/
    bottom: 35px;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    margin: 0;
    font-size: 250%;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 576px) {
    .basket {
        visibility: hidden;
    }

    .reference__store img {
        height: 36px;
    }

    .language {
        width: 50%;
    }

    .footer__footer p {
        margin-bottom: 24px;
    }

    .gototop {
        width: 64px;
        height: 64px;
    }
}

@media only screen and (min-width: 576px) {
    .reference__store img {
        height: 40px;
    }

    .language {
        width: 75%;
    }

    .gototop {
        width: 80px;
        height: 80px;
    }
}

