* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

@media only screen and (min-width: 576px) {
    .container-fluid {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .container-fluid {
        margin: 0;
    }
}

@media only screen and (min-width: 992px) {
    .container-fluid {
        margin-right: 87px;
        margin-left: 80px;
    }
}

.header {
    width: 100%;
    /*margin-bottom: 72px;*/
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);

    position: fixed;
    top: 0;
    z-index: 1000;
}

.header > .container-fluid {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 30px 0;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.btn__sing-in {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
    padding: 14px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.btn__basket {
    padding: 24px 11px;
    height: 22px;
    border: none;
    background-color: #FFFFFF;
    background-image: url("../images/basket.png");
    background-size: cover;
}

h2 {
    margin-top: 56px;
}

.input__search {
    margin-top: 128px;
    border: none;
    border-bottom: 0.3px solid #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}

.card {
    padding: 16px 16px 16px 0;
    position: relative;
    z-index: 0;
}

.card__img {
    max-width: 100%;
    max-height: 100%;
}

.card__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 4px;
}

.card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #626262;
}

.delivery__time {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
}

/*переход на страницу ресторана при нажатии на блок и переход по стрелке*/
.link__card, .link__arrow {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.footer {
    background: #262626;
    padding-top: 56px;
    padding-bottom: 40px;
    color: #FFFFFF;
    margin-top: 80px;
}

.footer__logo {
    margin-bottom: 40px;
    background: url("../images/white-logo.png");
    width: 192px;
    height: 20px;
    background-size: cover;
}

.reference__store {
    margin: 40px 0;
}

.reference__store__right {
    text-align: right;
}

.reference__store__left {
    text-align: left;
}

hr {
    color: #979797;
    background-color: #979797;
    size: 3px;
}

.footer__second__floor {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.footer__second__floor p {
    margin-bottom: 23px;
}

.language {
    background: #3B3B3B;
    border: none;
    color: #FFFFFF;
    height: 40px;
    width: 100%;
    background: #3B3B3B;
    border-radius: 2px;
    margin-bottom: 33px;
}

.language > img {
    padding: 12px 16px 12px 16px;
    height: 16px;
}

.select__lang {
    background: #3B3B3B;
    border: none;
    color: #FFFFFF;
    position: relative;
    bottom: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    width: 70%;
}

.social-networks {
    margin-bottom: 39px;
}

.reference__social-networks {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.reference__social-networks span {
    color: #49A144;
}

.img__social-networks {
    height: 24px;
}

.footer__footer {
    margin-top: 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.footer__footer p {
    margin-top: 24px;
}

.gototop {
    background: #59BD5A;
    border-radius: 2px;
    position: fixed; /*фиксир. позиц*/
    bottom: 35px;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


    /*position: relative;*/
    /*z-index: 0;*/
}

.arrow {
    margin: 0;
    font-size: 250%;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 575px) {
    .btn__basket {
        display: none;
    }

    .reference__store img {
        height: 36px;
    }

    .language {
        width: 50%;
    }

    .footer {
        margin-top: 48px;
    }

    .footer__footer p {
        margin-bottom: 24px;
    }

    .gototop {
        width: 64px;
        height: 64px;
    }
}

@media only screen and (min-width: 576px) {
    .reference__store img {
        height: 40px;
    }

    .language {
        width: 75%;
    }

    .footer {
        margin-top: 48px;
    }

    .gototop {
        width: 80px;
        height: 80px;
    }
}

/*css для страницы трактира "Пушкин"*/
.banner {
    margin-top: 90px;
    width: 100%;
    height: 364px;
    background-image: url("../images/Restaurant.png");
    background-size: cover;
    background-position: center center;
}

.card__restaurant {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    padding: 38px;
    position: relative;
    top: 80px;
}

.name__restaurant {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    margin-bottom: 54px;
    text-align: center;
}

.restaurant__info {
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
}

.description__restaurant {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    text-align: center;
    padding: 8px 0;
}

.delivery__time__restaurant {
    background: #262626;
    border-radius: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 8px 16px;
    text-align: center;
    align-self: center;
}

.menu {
    padding: 30px 0;
}

.menu__line {
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.2);
}

.links__menu {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    display: flex;
    /*justify-content: space-evenly;*/
}

.links__menu li {
    margin-right: 40px;
}

.snack {
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    display: flex;
    height: 160px;
    justify-content: space-between;
    /*margin: 32px 8px 49px;*/
    margin-bottom: 17px;
    margin-right: 16px;
    margin-top: 32px;
    position: relative;
}

.snack:hover {
    background-color: #75757533;
}

.snack__info {
    padding-left: 16px;
}

.snack__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 4px;
}

.snack__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin-bottom: 58px;
}

.snack__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
    vertical-align: bottom;
    position: absolute;
    bottom: 16px;
}

.snack__img {
    height: 100%;
    vertical-align: middle;
}

@media only screen and (max-width: 575px) {
    .banner {
        height: 255px;
        width: 100%;
        /*background-size: contain;*/
        /*background-repeat: no-repeat;*/
        /*background: url("../images/Restaurant.png");*/
        /*background-size: cover;*/
    }

    .card__restaurant {
        padding: 24px 49px;
        position: relative;
        top: 131px;
        margin: 0 auto;
    }

    .name__restaurant {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #1D1D1D;
        margin-bottom: 40px;
    }

    .restaurant__info {
        flex-direction: column;
    }

    .menu {
        visibility: hidden;
    }

    .links__menu {
        font-size: 0px;
    }

    .menu__line {
        visibility: hidden;
    }

    .snack {
        height: 102px;
        margin-top: 16px;
        border: none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    }

    .snack__description {
        margin-bottom: 16px;
    }

    .snacks__title {
        text-align: center;
    }

    .line {
        width: 50px;
        height: 1px;
        background: #757575;
        margin: 12px auto;
    }

    .snack__img {
        height: 100%;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .banner {
        height: 256px;
    }

    .card__restaurant {
        padding: 38px 48px;
    }

    .restaurant__info {
        padding: 0 50px;
    }

    .snack {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 576px){
   .snack__title {
        margin-top: 16px;
    }

    .snack__description {
        margin-bottom: 58px;
    }
}
